**/node_modules/**
**/.next/**
**/__generated__/**
**/lib/balancer-v2-monorepo/**
**/lib/forge-std/**
**/.vercel/**

**/lib/**
**/wagmi/generated.ts
**/wagmi*.mjs
!.lintstagedrc.js
!.eslintrc.js
node_modules/
lib/
