@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div[data-rk] {
  flex: 1;
}

@layer base {
  :root {
    --border: 10 19% 12%;
    --input: 41 37% 91%;
    --ring: 36 12% 81%;
    --background: 10 19% 12%;
    --foreground: 41 37% 91%;
    --primary: 201 100% 67%;
    --primary-foreground: 10 19% 12%;
    --secondary: 266 83% 57%;
    --secondary-foreground: 41 37% 91%;
    --destructive: 348 86% 61%;
    --destructive-foreground: 10 22% 11%;
    --muted: 41 37% 91%;
    --muted-foreground: 10 19% 12%;
    --accent: 271 100% 71%;
    --accent-foreground: 10 22% 11%;

    --popover: 41 37% 91%;
    --popover-foreground: 10 19% 12%;
    --card: 41 37% 91%;
    --card-foreground: 10 19% 12%;
    --radius: 0px;

    --highlight: 39 100% 50%;
    --info: 204 86% 53%;
    --success: 123 39% 47%;
    --warning: 45 100% 51%;
  }

  * {
    @apply border-border;
  }
  body {
    /* font-feature-settings: "rlig" 1, "calt" 1); */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
