@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

div[data-rk] {
  flex: 1;
}

@layer base {
  :root {
    --border: 354 17% 12%;
    /* --input: 354 17% 12%; */
    --input: 0 37% 91%;
    --ring: 36 12% 81%;
    --background: 104 86% 16%;
    --foreground: 0 37% 91%;
    --primary: 85 75% 70%;
    --primary-foreground: 104 86% 16%;
    --secondary: 191 100% 80%;
    --secondary-foreground: 202 100% 50;
    --destructive: 348 86% 61%;
    --destructive-foreground: 255 100% 100%;
    --muted: 0 37% 91%;
    --muted-foreground: 104 86% 16%;
    --accent: 202 100% 50%;
    --accent-foreground: 10 22% 11%;

    --popover: 0 37% 91%;
    --popover-foreground: 354 17% 12%;
    --card: 0 37% 91%;
    --card-foreground: 104 86% 16%;
    --radius: 0px;

    --highlight: 91 68% 45%;
    --info: 91 68% 45%;
    --success: 91 68% 45%;
    --warning: 45 100% 51%;
  }

  * {
    @apply border-border;
  }
  body {
    /* font-feature-settings: "rlig" 1, "calt" 1); */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
