name: setup JS dependencies
inputs:
  npm_token:
    description: 'NPM token for authentication'
    required: true
runs:
  using: composite
  steps:
    - uses: pnpm/action-setup@v3
      with:
        version: 9
    - uses: actions/setup-node@v4
      with:
        node-version-file: ".tool-versions"
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
      env:
        NPM_TOKEN: ${{ inputs.npm_token }}
