name: Deploy to Fly

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy next-app
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
